.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 5.5em;
	width: 15.2em;
	font-size: 1.45em;
	background-color: black;
	color: white;
	/* outline: 1px solid black; */
}

.keypad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-area: ; */
	/* margin: "1em", */
}

.calci-key {
	width: 5em;
	height: 5em;
	border: none;
	font-size: 1.1em;
	font-weight: 700;
	color: white;
	background-color: #74b9ff;
	outline: 1px solid white;
}

.operator {
	background-color: chocolate;
}

.clear {
	background-color: #e84342;
	width: 20em;
}

.equals,
.dot {
	background-color: #ea7773;
}
